/* @import url('https://fonts.googleapis.com/css?family=Fredoka+One'); */
@import url('https://fonts.googleapis.com/css?family=Roboto');

*
{
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

:root
{
	--color: navy;
	--width: 80%;
}

@media screen and (max-width: 300px)
{
	:root
	{
		--width: 95%;
	}
}

body
{
	/* font-family: "Fredoka One", cursive; */
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	height: 100%;
}

html
{
	height: 100%;
}

main
{
	margin: 0px auto;
	padding-top: 20px;
	width: var(--width);
}

section
{
	--border-radius: 15px;
	/* --padding: 2px; */
	--padding: var(--border-radius);

	background-color: #dfffdf;
	/* border: 1px solid black; */
	border: 1px solid #afcfaf;
	/* border-radius: var(--padding); */
	/* margin-bottom: var(--padding); */
	margin-bottom: 10px;
	padding: var(--padding);
	width: 100%;
}

section:first-child
{
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

section:last-child
{
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	margin-bottom: 0px;
}

button,
input
{
	border: 2px solid black;
	border-radius: 3px;
	height: 24px;
	line-height: 0%;
	padding: 3px;
	text-align: left;
	width: 100px;
}

button
{
	background-color: black;
	text-align: center;
	color: white;
	position: relative;
		top: -1px;
}

.hidden
{
	display: none !important;
}

/* ****************************************************************************************************************	*/
/*																													*/

#ticker-section > *
{
	margin-right: 5px;
}

#ticker-section > *:last-child
{
	margin-right: 0px;
}

/* ****************************************************************************************************************	*/
/* sticky footer																									*/

.sticky-wrapper
{
	height: auto;
	margin-bottom: -45px;
	min-height: 100%;
}

.sticky-pusher
{
	height: 45px;
}

footer
{
	background: red;
	font-size: 10px;
	height: 30px;
	margin-top: 15px;
	padding: 10px;
}

div.footer
{
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	margin: 0px auto;
	width: var(--width);
}

div.footer > div
{
	flex-grow: 0;
	flex-shrink: 1;
	text-align: left;
	width: 50%;
}

div.footer > div:last-child
{
	text-align: right;
}
