.error
{
	color: white;
	background-color: red !important;
}

/*	******************************************************************************************************************	*/
/*																														*/

section
{
	margin-bottom: 10px;
}

#ticker-section
{
	--border-radius: 15px;
	--padding: var(--border-radius);

	background-color: #dfdfff;
	border: 1px solid #afafcf;
	border-radius: var(--padding);
	padding: var(--padding);
	width: 100%;
}

#starbond-section
{
	margin-bottom: 0px;
}

/*	******************************************************************************************************************	*/
/*																														*/

div.security
{
	--border-radius: 15px;
	--padding: 2px;

	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	font-size: 12px;
	margin-bottom: 5px;
	padding: var(--padding);
	padding-left: var(--border-radius);
	padding-right: var(--border-radius);
}

div.security:first-child
{
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	padding-top: var(--border-radius);
}


div.security:last-child
{
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	margin-bottom: 0px;
	padding-bottom: var(--border-radius);
}

div.security > *
{
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 15px;
	width: 50px;
}

div.security div.grow
{
	flex-grow: 1 !important;
}

div.security > *:last-child
{
	margin-right: 0px;
}

div.security input
{
	border: 1px solid;
	height:14px;
	padding: 1px;
	text-align: right;
}

/*	Style rules specific to securities representing MovieStocks, it's currently background and border colors but may	*/
/*	eventually (although I doubt it) include other properties as well.													*/

div.moviestock
{
	background-color: #dfffdf;
	border: 1px solid #afcfaf;
}

div.moviestock input
{
	border-color: #afcfaf;
}

/*	Style rules specific to securities representing StarBonds															*/

div.starbond
{
	background-color: #ffffdf;
	border: 1px solid #cfcfaf;
}

div.starbond input
{
	border-color: #cfcfaf;
}
