.error
{
	color: white;
	background-color: red !important;
}

/*	******************************************************************************************************************	*/
/*																														*/

#ticker-section
{
	--border-radius: 15px;
	--padding: var(--border-radius);

	background-color: #dfdfff;
	/* border: 1px solid black; */
	border: 1px solid #afafcf;
	border-radius: var(--padding);
	margin-bottom: 10px;
	padding: var(--padding);
	width: 100%;
}

/*	******************************************************************************************************************	*/
/*																														*/

#moviestock-section
{
	margin-bottom: 10px;
}

div.security
{
	--border-radius: 15px;
	--padding: 2px;

	background-color: #dfffdf;
	border: 1px solid #afcfaf;
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	font-size: 12px;
	margin-bottom: 5px;
	padding: var(--padding);
	padding-left: var(--border-radius);
	padding-right: var(--border-radius);
}

div.security:first-child
{
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	padding-top: var(--border-radius);
}


div.security:last-child
{
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	margin-bottom: 0px;
	padding-bottom: var(--border-radius);
}

div.security > *
{
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 15px;
	width: 50px;
}

div.security div.grow
{
	flex-grow: 1 !important;
}

div.security > *:last-child
{
	margin-right: 0px;
}

div.security input
{
	border: 1px solid #afcfaf;
	height:14px;
	padding: 1px;
	text-align: right;
}


/*	******************************************************************************************************************	*/
/*																														*/

#starbond-section
{
}

div.starbond
{
	--border-radius: 15px;
	--padding: 2px;

	background-color: #ffffdf;
	/* border: 1px solid black; */
	border: 1px solid #cfcfaf;
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	/* margin-bottom: var(--padding); */
	margin-bottom: 5px;
	padding: var(--padding);
	padding-left: var(--border-radius);
	padding-right: var(--border-radius);
}

div.starbond:first-child
{
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	padding-top: var(--border-radius);
}


div.starbond:last-child
{
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	margin-bottom: 0px;
	padding-bottom: var(--border-radius);
}

div.starbond > *
{
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 5px;
}

div.starbond > *:last-child
{
	margin-right: 0px;
}
